@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondary-color: #0f172a;
  --primary-color: #f1f5f9;
  --foreground: #0f172a;
  --background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f8fafc;
    --background: #0f172a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  margin-right: calc(-1 * (100vw - 100%)); /* Prevents scrollbar from shifting content */
}

@layer components {
  .background-gradient {
    @apply bg-gradient-to-tr from-slate-50 to-slate-100;
  }

  .background-gradient:hover {
    @apply bg-gradient-to-tr from-slate-100 to-slate-200;
  }

  @media (prefers-color-scheme: dark) {
    .background-gradient {
      @apply bg-gradient-to-tr from-slate-900 to-slate-800;
    }

    .background-gradient:hover {
      @apply bg-gradient-to-tr from-slate-700 to-slate-800;
    }
  }
}
